* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  position: relative;
  height: 100vh;
  background: linear-gradient(
  to right bottom,
  rgba(126, 213, 111, 1),
  rgba(40, 180, 133, 1));
}

ol, ul {
  padding-left: 30px;
}

div {
  display: none;
}

.bold-text {
  font-weight: bold;
}

.board-row {
  /* margin: auto; */
  /* padding: 10px; */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 26px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: linear-gradient(
  to left bottom,
  rgb(0, 156, 255),
  rgb(26, 169, 230));
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 2px solid white;
}

.game-board {
  padding: 10px;
}

.game-info {
  padding: 10px;
}

.status {
  margin-bottom: 20px;
  min-width: 150px;
  font-size: 20px;
}
